/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

/* Navigation Bar */
header {
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 2px 4px #f8f8f8;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    width: 110px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color:white ;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Main Section */
main {
    padding: 50px 20px;
    text-align: center;
}

/* Contact Info */
.contact-info p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.contact-info a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Contact Form Section */
.contact-form-section {
    background-color: white;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline-color: #4CAF50;
}

.contact-form textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #86b3dd;
    color: white;
    padding: 12px 25px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #f31722;
}

/* Footer */
footer {
    background-color: #86b3dd;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}
